<a href="https://colab.research.google.com/github/Maagnitude/coupon-recommend-models/blob/main/coupon_recommend_models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **In-vehicle Coupon Recommendation Models**
Importing the necessary libraries.

In [287]:
import numpy as np
import pandas as pd
import seaborn as sns
from scipy import stats
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn import model_selection
from sklearn import linear_model
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier

import matplotlib.pyplot as plt

## **Uploading the dataset as a csv file**

Ανεβάζουμε το dataset μέσω του **github url**, απ το **repository**. Έτσι γλιτώνουμε το mount του drive.

In [288]:
url = "https://raw.githubusercontent.com/Maagnitude/coupon_recommend_models/main/in-vehicle-coupon-recommendation.csv"
df = pd.read_csv(url)
df.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,NaN,4~8,1~3,1,1,0,0,1,0

## **Another way to load the dataset (Drive mount)**

In [ ]:
# from google.colab import files
# uploaded = files.upload()
# from google.colab import drive
# drive.mount('/content/drive/')
#df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/in-vehicle-coupon-recommendation.csv')

## **Here we see the shape of the dataframe**. 

We have a **12684 x 26** table. 12684 entries, 26 attributes.

In [ ]:
df.shape

(12684, 26)

In [289]:
sec_df = df.copy()

With the use of **df.info()**, we can see that there are some missing. Car has only 108 non-null values, out of 12684. So we will drop this attribute for sure.We can also see clearly the attributes with null values, using **df.isnull().sum()**.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

In [ ]:
df.isnull().sum()

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12576
Bar                       107
CoffeeHouse               217
CarryAway                 151
RestaurantLessThan20      130
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [ ]:
df= df.drop("car", axis='columns')

Here we check the value counts for each categorical value. It seems like a good strategy for each **null-value** to get the value of the **most frequent**.

In [ ]:
df['Bar'].value_counts()

never    5197
less1    3482
1~3      2473
4~8      1076
gt8       349
Name: Bar, dtype: int64

In [ ]:
df['CoffeeHouse'].value_counts()

less1    3385
1~3      3225
never    2962
4~8      1784
gt8      1111
Name: CoffeeHouse, dtype: int64

In [ ]:
df['CarryAway'].value_counts()

1~3      4672
4~8      4258
less1    1856
gt8      1594
never     153
Name: CarryAway, dtype: int64

In [ ]:
df['RestaurantLessThan20'].value_counts()

1~3      5376
4~8      3580
less1    2093
gt8      1285
never     220
Name: RestaurantLessThan20, dtype: int64

In [ ]:
df['Restaurant20To50'].value_counts()

less1    6077
1~3      3290
never    2136
4~8       728
gt8       264
Name: Restaurant20To50, dtype: int64

# **Impute NaN values**
Done by using the most frequent of the existing values.

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
df['Bar'] = imputer.fit_transform(df['Bar'].values.reshape(-1,1))[:,0]

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
df['CoffeeHouse'] = imputer.fit_transform(df['CoffeeHouse'].values.reshape(-1,1))[:,0]

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
df['CarryAway'] = imputer.fit_transform(df['CarryAway'].values.reshape(-1,1))[:,0]

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
df['RestaurantLessThan20'] = imputer.fit_transform(df['RestaurantLessThan20'].values.reshape(-1,1))[:,0]

In [ ]:
imputer = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
df['Restaurant20To50'] = imputer.fit_transform(df['Restaurant20To50'].values.reshape(-1,1))[:,0]

In [ ]:
df

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,1
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,0,1,1
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,1,1,0,1,0
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0

Now, as we see, there is no null-value in our dataframe.

In [ ]:
df.isnull().sum()

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ5min        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

# **ONE-HOT ENCODING**

Here we can see the data type of each attribute. Temperature has only **three** numerical values, so we will cast it as **categorical** in order to one-hot encode it later.

In [ ]:
df.dtypes

destination             object
passanger               object
weather                 object
temperature              int64
time                    object
coupon                  object
expiration              object
gender                  object
age                     object
maritalStatus           object
has_children             int64
education               object
occupation              object
income                  object
Bar                     object
CoffeeHouse             object
CarryAway               object
RestaurantLessThan20    object
Restaurant20To50        object
toCoupon_GEQ5min         int64
toCoupon_GEQ15min        int64
toCoupon_GEQ25min        int64
direction_same           int64
direction_opp            int64
Y                        int64
dtype: object

In [ ]:
df['temperature'].value_counts()

80    6528
55    3840
30    2316
Name: temperature, dtype: int64

In [ ]:
df['temperature']=pd.Categorical(df.temperature)

In [ ]:
df

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,1
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,0,1,1
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,1,1,0,1,0
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0

Numerical-value attributes are already in one-hot encoded form (0s and 1s), so we won't mess with them.

In [ ]:
df['occupation'].value_counts()

Unemployed                                   1870
Student                                      1584
Computer & Mathematical                      1408
Sales & Related                              1093
Education&Training&Library                    943
Management                                    838
Office & Administrative Support               639
Arts Design Entertainment Sports & Media      629
Business & Financial                          544
Retired                                       495
Food Preparation & Serving Related            298
Healthcare Practitioners & Technical          244
Healthcare Support                            242
Community & Social Services                   241
Legal                                         219
Transportation & Material Moving              218
Architecture & Engineering                    175
Personal Care & Service                       175
Protective Service                            175
Life Physical Social Science                  170
Construction & Extraction                     154
Installation Maintenance & Repair             133
Production Occupations                        110
Building & Grounds Cleaning & Maintenance      44
Farming Fishing & Forestry                     43
Name: occupation, dtype: int64

In [ ]:
dummydf = df['occupation'].str.get_dummies(sep='&')
dummydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 43 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0    Administrative Support            12684 non-null  int64
 1    Engineering                       12684 non-null  int64
 2    Extraction                        12684 non-null  int64
 3    Financial                         12684 non-null  int64
 4    Forestry                          12684 non-null  int64
 5    Grounds Cleaning                  12684 non-null  int64
 6    Maintenance                       12684 non-null  int64
 7    Material Moving                   12684 non-null  int64
 8    Mathematical                      12684 non-null  int64
 9    Media                             12684 non-null  int64
 10   Related                           12684 non-null  int64
 11   Repair                            12684 non-null  int64
 12   Service                           12684 non-null  int64
 13   Serving Related                   12684 non-null  int64
 14   Social Services                   12684 non-null  int64
 15   Technical                         12684 non-null  int64
 16  Architecture                       12684 non-null  int64
 17  Arts Design Entertainment Sports   12684 non-null  int64
 18  Building                           12684 non-null  int64
 19  Business                           12684 non-null  int64
 20  Community                          12684 non-null  int64
 21  Computer                           12684 non-null  int64
 22  Construction                       12684 non-null  int64
 23  Education                          12684 non-null  int64
 24  Farming Fishing                    12684 non-null  int64
 25  Food Preparation                   12684 non-null  int64
 26  Healthcare Practitioners           12684 non-null  int64
 27  Healthcare Support                 12684 non-null  int64
 28  Installation Maintenance           12684 non-null  int64
 29  Legal                              12684 non-null  int64
 30  Library                            12684 non-null  int64
 31  Life Physical Social Science       12684 non-null  int64
 32  Management                         12684 non-null  int64
 33  Office                             12684 non-null  int64
 34  Personal Care                      12684 non-null  int64
 35  Production Occupations             12684 non-null  int64
 36  Protective Service                 12684 non-null  int64
 37  Retired                            12684 non-null  int64
 38  Sales                              12684 non-null  int64
 39  Student                            12684 non-null  int64
 40  Training                           12684 non-null  int64
 41  Transportation                     12684 non-null  int64
 42  Unemployed                         12684 non-null  int64
dtypes: int64(43)
memory usage: 4.2 MB

In [ ]:
dummydf['Arts']=dummydf['Arts Design Entertainment Sports ']
dummydf['Design']=dummydf['Arts Design Entertainment Sports ']
dummydf['Arts']=dummydf['Arts Design Entertainment Sports ']
dummydf['Entertainment']=dummydf['Arts Design Entertainment Sports ']
dummydf['Social Science']=dummydf['Life Physical Social Science']
dummydf['Physical Science']=dummydf['Life Physical Social Science']
dummydf['Life Science']=dummydf['Life Physical Social Science']
dummydf.drop(['Arts Design Entertainment Sports ','Life Physical Social Science'],axis=1,inplace=True)  
dummydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 47 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0    Administrative Support    12684 non-null  int64
 1    Engineering               12684 non-null  int64
 2    Extraction                12684 non-null  int64
 3    Financial                 12684 non-null  int64
 4    Forestry                  12684 non-null  int64
 5    Grounds Cleaning          12684 non-null  int64
 6    Maintenance               12684 non-null  int64
 7    Material Moving           12684 non-null  int64
 8    Mathematical              12684 non-null  int64
 9    Media                     12684 non-null  int64
 10   Related                   12684 non-null  int64
 11   Repair                    12684 non-null  int64
 12   Service                   12684 non-null  int64
 13   Serving Related           12684 non-null  int64
 14   Social Services           12684 non-null  int64
 15   Technical                 12684 non-null  int64
 16  Architecture               12684 non-null  int64
 17  Building                   12684 non-null  int64
 18  Business                   12684 non-null  int64
 19  Community                  12684 non-null  int64
 20  Computer                   12684 non-null  int64
 21  Construction               12684 non-null  int64
 22  Education                  12684 non-null  int64
 23  Farming Fishing            12684 non-null  int64
 24  Food Preparation           12684 non-null  int64
 25  Healthcare Practitioners   12684 non-null  int64
 26  Healthcare Support         12684 non-null  int64
 27  Installation Maintenance   12684 non-null  int64
 28  Legal                      12684 non-null  int64
 29  Library                    12684 non-null  int64
 30  Management                 12684 non-null  int64
 31  Office                     12684 non-null  int64
 32  Personal Care              12684 non-null  int64
 33  Production Occupations     12684 non-null  int64
 34  Protective Service         12684 non-null  int64
 35  Retired                    12684 non-null  int64
 36  Sales                      12684 non-null  int64
 37  Student                    12684 non-null  int64
 38  Training                   12684 non-null  int64
 39  Transportation             12684 non-null  int64
 40  Unemployed                 12684 non-null  int64
 41  Arts                       12684 non-null  int64
 42  Design                     12684 non-null  int64
 43  Entertainment              12684 non-null  int64
 44  Social Science             12684 non-null  int64
 45  Physical Science           12684 non-null  int64
 46  Life Science               12684 non-null  int64
dtypes: int64(47)
memory usage: 4.5 MB

In [ ]:
df

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,1~3,4~8,1~3,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,1
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,0,1,1
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,1,1,0,1,0
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0

In [ ]:
df = pd.concat([df, dummydf], axis=1)
df.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,Student,Training,Transportation,Unemployed,Arts,Design,Entertainment,Social Science,Physical Science,Life Science
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
df.drop(['occupation'],axis=1,inplace=True)
df.head()

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,Student,Training,Transportation,Unemployed,Arts,Design,Entertainment,Social Science,Physical Science,Life Science
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
df.columns

Index(['destination', 'passanger', 'weather', 'temperature', 'time', 'coupon',
       'expiration', 'gender', 'age', 'maritalStatus', 'has_children',
       'education', 'occupation', 'income', 'Bar', 'CoffeeHouse', 'CarryAway',
       'RestaurantLessThan20', 'Restaurant20To50', 'toCoupon_GEQ5min',
       'toCoupon_GEQ15min', 'toCoupon_GEQ25min', 'direction_same',
       'direction_opp', 'Y', ' Administrative Support', ' Engineering',
       ' Extraction', ' Financial', ' Forestry', ' Grounds Cleaning ',
       ' Maintenance', ' Material Moving', ' Mathematical', ' Media',
       ' Related', ' Repair', ' Service', ' Serving Related',
       ' Social Services', ' Technical', 'Architecture ', 'Building ',
       'Business ', 'Community ', 'Computer ', 'Construction ', 'Education',
       'Farming Fishing ', 'Food Preparation ', 'Healthcare Practitioners ',
       'Healthcare Support', 'Installation Maintenance ', 'Legal', 'Library',
       'Management', 'Office ', 'Personal Care ', 'Production Occupations',
       'Protective Service', 'Retired', 'Sales ', 'Student', 'Training',
       'Transportation ', 'Unemployed', 'Arts', 'Design', 'Entertainment',
       'Social Science', 'Physical Science', 'Life Science'],
      dtype='object')

In [ ]:
df_categorical=df.select_dtypes(exclude='number')

In [ ]:
df_categorical

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,education,occupation,income,Bar,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,Some college - no degree,Unemployed,$37500 - $49999,never,never,1~3,4~8,1~3
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,Some college - no degree,Unemployed,$37500 - $49999,never,never,1~3,4~8,1~3
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,Some college - no degree,Unemployed,$37500 - $49999,never,never,1~3,4~8,1~3
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,Some college - no degree,Unemployed,$37500 - $49999,never,never,1~3,4~8,1~3
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,Some college - no degree,Unemployed,$37500 - $49999,never,never,1~3,4~8,1~3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,Bachelors degree,Sales & Related,$75000 - $87499,never,never,1~3,4~8,1~3
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,Bachelors degree,Sales & Related,$75000 - $87499,never,never,1~3,4~8,1~3
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,Bachelors degree,Sales & Related,$75000 - $87499,never,never,1~3,4~8,1~3
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,Bachelors degree,Sales & Related,$75000 - $87499,never,never,1~3,4~8,1~3
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,Bachelors degree,Sales & Related,$75000 - $87499,never,never,1~3,4~8,1~3

In [ ]:
for value in df_categorical:
  df= pd.get_dummies(df,columns=[value])

In [ ]:
df

,has_children,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,Administrative Support,Engineering,Extraction,...,RestaurantLessThan20_1~3,RestaurantLessThan20_4~8,RestaurantLessThan20_gt8,RestaurantLessThan20_less1,RestaurantLessThan20_never,Restaurant20To50_1~3,Restaurant20To50_4~8,Restaurant20To50_gt8,Restaurant20To50_less1,Restaurant20To50_never
0,1,1,0,0,0,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,1,1,0,0,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,1,1,1,0,0,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,1,1,1,0,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,1,1,1,0,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,0,1,0,0,1,0,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12680,0,1,0,0,0,1,1,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12681,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12682,0,1,1,1,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12683,0,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [ ]:
df.shape

(12684, 159)

## **Dropping Duplicate Values**

In [ ]:
df.drop_duplicates(inplace=True)
df.shape

(12610, 159)

We can see that 'toCoupon_GEQ5min' gets only one value. So we don't need that.

In [ ]:
df.select_dtypes('int64').nunique()

has_children                 2
toCoupon_GEQ5min             1
toCoupon_GEQ15min            2
toCoupon_GEQ25min            2
direction_same               2
direction_opp                2
Y                            2
 Administrative Support      2
 Engineering                 2
 Extraction                  2
 Financial                   2
 Forestry                    2
 Grounds Cleaning            2
 Maintenance                 2
 Material Moving             2
 Mathematical                2
 Media                       2
 Related                     2
 Repair                      2
 Service                     2
 Serving Related             2
 Social Services             2
 Technical                   2
Architecture                 2
Building                     2
Business                     2
Community                    2
Computer                     2
Construction                 2
Education                    2
Farming Fishing              2
Food Preparation             2
Healthcare Practitioners     2
Healthcare Support           2
Installation Maintenance     2
Legal                        2
Library                      2
Management                   2
Office                       2
Personal Care                2
Production Occupations       2
Protective Service           2
Retired                      2
Sales                        2
Student                      2
Training                     2
Transportation               2
Unemployed                   2
Arts                         2
Design                       2
Entertainment                2
Social Science               2
Physical Science             2
Life Science                 2
dtype: int64

In [ ]:
df.drop(columns=['toCoupon_GEQ5min'], inplace=True)

In [ ]:
df.describe()

,has_children,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,Administrative Support,Engineering,Extraction,Financial,...,RestaurantLessThan20_1~3,RestaurantLessThan20_4~8,RestaurantLessThan20_gt8,RestaurantLessThan20_less1,RestaurantLessThan20_never,Restaurant20To50_1~3,Restaurant20To50_4~8,Restaurant20To50_gt8,Restaurant20To50_less1,Restaurant20To50_never
count,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,...,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000,12610.000000
mean,0.414512,0.559794,0.116019,0.215543,0.784457,0.567565,0.050595,0.013878,0.012213,0.043061,...,0.434972,0.281761,0.101665,0.164235,0.017367,0.259001,0.057732,0.020936,0.494052,0.168279
std,0.492657,0.496432,0.320260,0.411215,0.411215,0.495434,0.219177,0.116989,0.109838,0.203003,...,0.495773,0.449875,0.302220,0.370503,0.130640,0.438103,0.233245,0.143175,0.499984,0.374129
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,1.000000,1.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [ ]:
df

,has_children,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y,Administrative Support,Engineering,Extraction,Financial,...,RestaurantLessThan20_1~3,RestaurantLessThan20_4~8,RestaurantLessThan20_gt8,RestaurantLessThan20_less1,RestaurantLessThan20_never,Restaurant20To50_1~3,Restaurant20To50_4~8,Restaurant20To50_gt8,Restaurant20To50_less1,Restaurant20To50_never
0,1,0,0,0,1,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,1,1,0,0,1,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
3,1,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
4,1,1,0,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,0,0,0,1,0,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12680,0,0,0,0,1,1,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12681,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12682,0,1,1,0,1,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
12683,0,0,0,1,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0

In [ ]:
df.dtypes

has_children              int64
toCoupon_GEQ15min         int64
toCoupon_GEQ25min         int64
direction_same            int64
direction_opp             int64
                          ...
Restaurant20To50_1~3      uint8
Restaurant20To50_4~8      uint8
Restaurant20To50_gt8      uint8
Restaurant20To50_less1    uint8
Restaurant20To50_never    uint8
Length: 158, dtype: object

In [ ]:
# plt.figure(figsize=(25, 15))

# for i, column in enumerate(df.columns):
#   plt.subplot(4, 6, i + 1)
#   sns.boxplot(data=df[column])
#   plt.title(column)

# plt.tight_layout()
# plt.show()

#**Classification (Logistic Regression)**

In [ ]:
X = df.drop('Y', axis=1)

In [ ]:
y = df['Y']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.7, random_state=42)

In [ ]:
lr = linear_model.LogisticRegression()
lr_mod = lr.fit(X_train, y_train)

# **Baseline Logistic Regression: 0.691**

In [ ]:
print(f"Baseline Logistic Regression: {round(lr_mod.score(X_test, y_test), 3)}")

Baseline Logistic Regression: 0.691

# **Classification (KNN Algorithm)**

Με scale μας βγήκε 0.03 λιγότερο.

In [ ]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 30, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=30)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
accuracy = classifier.score(X_test, y_test)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 0.70

# **SVM Algorithm**

Αργεί πάρα πολύ η εκπαίδευση του.

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [ ]:
SVM = SVC(kernel="rbf", random_state=None, probability=True, cache_size=200, gamma=0.1)
SVM.fit(X_train, y_train)

SVC(gamma=0.1, probability=True)

In [ ]:
y_pred_SVM = SVM.predict(X_test)
accuracy2 = SVM.score(X_test, y_test)

print(f'Accuracy: {accuracy2:.2f}')

Accuracy: 0.75

# **Decision Tree**

In [ ]:
DTC = DecisionTreeClassifier().fit(X_train, y_train)

#Predict the response for test dataset
y_pred_DTC = DTC.predict(X_test)

accuracy3 = DTC.score(X_test, y_test)

print(f'Accuracy: {accuracy3:.2f}')

Accuracy: 0.68

# **Random Forest**

In [ ]:
from sklearn.ensemble import RandomForestClassifier

randForest = RandomForestClassifier()

randForest.fit(X_train, y_train)
accuracy4 = randForest.score(X_test, y_test)
print(f'Accuracy: {accuracy4:.2f}')

Accuracy: 0.75

# **Naive Bayes**

In [ ]:
from sklearn.naive_bayes import GaussianNB

nayes = GaussianNB()
nayes.fit(X_train, y_train)
accuracy5 = nayes.score(X_test, y_test)
print(f'Accuracy: {accuracy5:.2f}')

Accuracy: 0.61

In [ ]:
import tensorflow as tf
from tensorflow import keras
from keras import layers

def NeuralN(X_train, X_test, y_train, y_test):

  model = keras.Sequential([
      layers.Input(shape=(X_train.shape[1],), name='input'),
      layers.Dense(100, activation='relu'),
      layers.Dense(100, activation='relu'),
      layers.Dense(100, activation='relu'),
      layers.Dense(100, activation='relu'),
      layers.Dense(3, activation='softmax', name='output')      
  ])

  model.compile(
    loss='sparse_categorical_crossentropy',
    optimizer=keras.optimizers.Adam(learning_rate=0.001),
    metrics=['accuracy']
  )
  model.summary()
  history = model.fit(X_train, y_train, epochs=30, batch_size = 128)
  accuracy = model.evaluate(X_test, y_test)

  y_test_c = tf.keras.utils.to_categorical(y_test)

  y_pred = model.predict(X_test)
  pred_idx = np.argmax(y_pred, axis=1)
  true_idx = np.argmax(y_test_c, axis=1)
  tf_confmatrix = tf.math.confusion_matrix(true_idx, pred_idx)

  return accuracy, tf_confmatrix

In [ ]:
accuracy, tf_confmatrix = NeuralN(X_train, X_test, y_train, y_test)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 100)               15800

 dense_1 (Dense)             (None, 100)               10100

 dense_2 (Dense)             (None, 100)               10100

 dense_3 (Dense)             (None, 100)               10100

 output (Dense)              (None, 3)                 303

=================================================================
Total params: 46,403
Trainable params: 46,403
Non-trainable params: 0
_________________________________________________________________
Epoch 1/30
69/69 [==============================] - 1s 4ms/step - loss: 0.6548 - accuracy: 0.6339
Epoch 2/30
69/69 [==============================] - 0s 4ms/step - loss: 0.5847 - accuracy: 0.6934
Epoch 3/30
69/69 [==============================] - 0s 4ms/step - loss: 0.5568 - accuracy: 0.7160
Epoch 4/30
69/69 [==============================] - 0s 4ms/step - loss: 0.5197 - accuracy: 0.7424
Epoch 5/30
69/69 [==============================] - 0s 4ms/step - loss: 0.4902 - accuracy: 0.7667
Epoch 6/30
69/69 [==============================] - 0s 4ms/step - loss: 0.4446 - accuracy: 0.7884
Epoch 7/30
69/69 [==============================] - 0s 4ms/step - loss: 0.4126 - accuracy: 0.8125
Epoch 8/30
69/69 [==============================] - 0s 4ms/step - loss: 0.3799 - accuracy: 0.8301
Epoch 9/30
69/69 [==============================] - 0s 4ms/step - loss: 0.3508 - accuracy: 0.8462
Epoch 10/30
69/69 [==============================] - 0s 4ms/step - loss: 0.3302 - accuracy: 0.8553
Epoch 11/30
69/69 [==============================] - 0s 4ms/step - loss: 0.2973 - accuracy: 0.8772
Epoch 12/30
69/69 [==============================] - 0s 4ms/step - loss: 0.2640 - accuracy: 0.8926
Epoch 13/30
69/69 [==============================] - 0s 4ms/step - loss: 0.2546 - accuracy: 0.8936
Epoch 14/30
69/69 [==============================] - 0s 3ms/step - loss: 0.2212 - accuracy: 0.9115
Epoch 15/30
69/69 [==============================] - 0s 4ms/step - loss: 0.1963 - accuracy: 0.9208
Epoch 16/30
69/69 [==============================] - 0s 4ms/step - loss: 0.1804 - accuracy: 0.9302
Epoch 17/30
69/69 [==============================] - 0s 4ms/step - loss: 0.1504 - accuracy: 0.9430
Epoch 18/30
69/69 [==============================] - 0s 4ms/step - loss: 0.1407 - accuracy: 0.9491
Epoch 19/30
69/69 [==============================] - 0s 4ms/step - loss: 0.1233 - accuracy: 0.9525
Epoch 20/30
69/69 [==============================] - 0s 4ms/step - loss: 0.1083 - accuracy: 0.9593
Epoch 21/30
69/69 [==============================] - 0s 4ms/step - loss: 0.1016 - accuracy: 0.9633
Epoch 22/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0935 - accuracy: 0.9669
Epoch 23/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0831 - accuracy: 0.9693
Epoch 24/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0815 - accuracy: 0.9684
Epoch 25/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0680 - accuracy: 0.9763
Epoch 26/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0560 - accuracy: 0.9818
Epoch 27/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0525 - accuracy: 0.9816
Epoch 28/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0644 - accuracy: 0.9775
Epoch 29/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0575 - accuracy: 0.9802
Epoch 30/30
69/69 [==============================] - 0s 4ms/step - loss: 0.0470 - accuracy: 0.9843
119/119 [==============================] - 0s 1ms/step - loss: 1.5643 - accuracy: 0.7291
119/119 [==============================] - 0s 1ms/step

In [ ]:
def heat_confmatrix (confmatrix):
  
  labels = ['Accept', 'NotAccept']

  # Δίνουμε τα labels στον πίνακα
  conf_matr_plt = pd.DataFrame(confmatrix, index = labels, columns = labels)
  
  plt.subplots(figsize=(7, 5))
  
  ax = sns.heatmap(conf_matr_plt, cmap='viridis', annot=True, annot_kws={'size':20}, fmt="d")

  ax.xaxis.tick_top()
  ax.set_title("Confusion Matrix\n")
  plt.ylabel('True')
  plt.xlabel('Predicted')
  plt.show()

In [ ]:
tf_confmatrix

<tf.Tensor: shape=(2, 2), dtype=int32, numpy=
array([[1136,  518],
       [ 507, 1622]], dtype=int32)>

# 2) Επιλογή 5 γνωρισμάτων.
Αρχικά σκεφτήκαμε να δούμε τα γνωρίσματα τα οποία βγάζουν περισσότερο νοήμα σε εμας για να αποτελέσουν κριτήριο επιλογής κουπονιού. Ελέγξαμε το sec_df.groupby("")["Y"].mean() του κάθε γνωρίσματος για να δούμε πόσο διαφοροποιούνται οι μέσοι όροι των τιμών τους. Επειδή όμως με αυτό τον τρόπο ελέγχουμε μονομερώς το κάθε γνώρισμα αν παίρνει ή όχι το κουπόνι χωρίς να ελέγχουμε τα υπόλοιπα γνωρίσματα αποφασίσαμε να επιλέξουμε 5 γνωρίσματα σύμφωνα με κάποια δικά μας κριτήρια και να δούμε ποιος συνδιασμός επιτυγχάνει το μεγαλύτερο αποτέλεσμα.

In [290]:
sec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 26 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   destination           12684 non-null  object
 1   passanger             12684 non-null  object
 2   weather               12684 non-null  object
 3   temperature           12684 non-null  int64
 4   time                  12684 non-null  object
 5   coupon                12684 non-null  object
 6   expiration            12684 non-null  object
 7   gender                12684 non-null  object
 8   age                   12684 non-null  object
 9   maritalStatus         12684 non-null  object
 10  has_children          12684 non-null  int64
 11  education             12684 non-null  object
 12  occupation            12684 non-null  object
 13  income                12684 non-null  object
 14  car                   108 non-null    object
 15  Bar                   12577 non-null  object
 16  CoffeeHouse           12467 non-null  object
 17  CarryAway             12533 non-null  object
 18  RestaurantLessThan20  12554 non-null  object
 19  Restaurant20To50      12495 non-null  object
 20  toCoupon_GEQ5min      12684 non-null  int64
 21  toCoupon_GEQ15min     12684 non-null  int64
 22  toCoupon_GEQ25min     12684 non-null  int64
 23  direction_same        12684 non-null  int64
 24  direction_opp         12684 non-null  int64
 25  Y                     12684 non-null  int64
dtypes: int64(8), object(18)
memory usage: 2.5+ MB

In [ ]:
sec_df.groupby("has_children")["Y"].mean()

has_children
0    0.587404
1    0.541595
Name: Y, dtype: float64

In [ ]:
sec_df["has_children"].value_counts()

0    7431
1    5253
Name: has_children, dtype: int64

In [291]:
sec_df = sec_df[["destination", "expiration", "education", "income", "toCoupon_GEQ25min", "Y"]]

In [292]:
sec_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12684 entries, 0 to 12683
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   destination        12684 non-null  object
 1   expiration         12684 non-null  object
 2   education          12684 non-null  object
 3   income             12684 non-null  object
 4   toCoupon_GEQ25min  12684 non-null  int64
 5   Y                  12684 non-null  int64
dtypes: int64(2), object(4)
memory usage: 594.7+ KB

In [ ]:
sec_df.isnull().sum()

destination          0
expiration           0
education            0
income               0
toCoupon_GEQ25min    0
Y                    0
dtype: int64

No need to impute values for these 5 categories

# One-hot Encoding

In [ ]:
sec_df.dtypes

destination          object
expiration           object
education            object
income               object
toCoupon_GEQ25min     int64
Y                     int64
dtype: object

In [ ]:
sec_df.columns

Index(['destination', 'expiration', 'education', 'income', 'toCoupon_GEQ25min',
       'Y'],
      dtype='object')

In [ ]:
secdf_categorical=sec_df.select_dtypes(exclude='number')
secdf_categorical

           destination expiration                 education           income
0      No Urgent Place         1d  Some college - no degree  $37500 - $49999
1      No Urgent Place         2h  Some college - no degree  $37500 - $49999
2      No Urgent Place         2h  Some college - no degree  $37500 - $49999
3      No Urgent Place         2h  Some college - no degree  $37500 - $49999
4      No Urgent Place         1d  Some college - no degree  $37500 - $49999
...                ...        ...                       ...              ...
12679             Home         1d          Bachelors degree  $75000 - $87499
12680             Work         1d          Bachelors degree  $75000 - $87499
12681             Work         1d          Bachelors degree  $75000 - $87499
12682             Work         1d          Bachelors degree  $75000 - $87499
12683             Work         2h          Bachelors degree  $75000 - $87499

[12684 rows x 4 columns]

In [ ]:
for value in secdf_categorical:
  sec_df= pd.get_dummies(sec_df,columns=[value])

In [ ]:
sec_df

,toCoupon_GEQ25min,Y,destination_Home,destination_No Urgent Place,destination_Work,expiration_1d,expiration_2h,education_Associates degree,education_Bachelors degree,education_Graduate degree (Masters or Doctorate),...,education_Some college - no degree,income_$100000 or More,income_$12500 - $24999,income_$25000 - $37499,income_$37500 - $49999,income_$50000 - $62499,income_$62500 - $74999,income_$75000 - $87499,income_$87500 - $99999,income_Less than $12500
0,0,1,0,1,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
1,0,0,0,1,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2,0,1,0,1,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
3,0,0,0,1,0,0,1,0,0,0,...,1,0,0,0,1,0,0,0,0,0
4,0,0,0,1,0,1,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,0,1,1,0,0,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
12680,0,1,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
12681,0,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
12682,1,0,0,0,1,1,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0
12683,0,0,0,0,1,0,1,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [ ]:
sec_df.shape

(12684, 22)

In [ ]:
sec_df.select_dtypes('int64').nunique()

toCoupon_GEQ25min    2
Y                    2
dtype: int64

# Split dataset

In [ ]:
sec_X = sec_df.drop('Y', axis=1)

In [ ]:
sec_y = sec_df['Y']

In [ ]:
SX_train, SX_test, Sy_train, Sy_test = train_test_split(sec_X, sec_y, train_size=0.7, random_state=42)

# Random Forest
best algorithm

In [ ]:
from sklearn.ensemble import RandomForestClassifier

randForest = RandomForestClassifier()

randForest.fit(SX_train, Sy_train)
Saccuracy = randForest.score(SX_test, Sy_test)
print(f'Accuracy: {Saccuracy:.2f}')

Accuracy: 0.61